body {
    margin: 0;
}

.primeBody {
    background-image: url( "record.png" );
    /* The question in the readme indicates we should repeat the
    image to fill the body of the page, however that is the default setting.
    In this case I will repeat only horizontally to indicate understanding. */
    background-repeat: repeat-x; 
}

.primeHeader {
    background-color: darkolivegreen;
    color: antiquewhite;
    text-align: center;
 }
 

.primeMain {
    background-color: lightgrey;
    padding: 1em;
}
